
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerifyAccount</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../css/adminlte.min.css">
</head>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <form asp-action="Verified_Account" asp-controller="Account">
                <p class="text-info">Registration Successfull, Please check your email inbox and Enter recieved OTP</p>

                <div class="form-group">

                    <lebel>Enter OTP</lebel>
                    <input type="text" class="form-control" name="OTP" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>

                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
